* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #d1cac3;
  overflow-x: hidden;
  font-size: 15px;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background: linear-gradient(90deg, #e0ddd9 0%, #706457 100%);
  left: 0;
  z-index: 10;
  height: 100px;
}

.logo {
  font-size: 70px;
  font-family: "Josefin Sans", sans-serif;
  color: #5b3920;
  font-weight: bold;
}
.logo span {
  color: #a4743f;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
}


.login {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.login-container {
  background: #d1cac3;
  width: 450px;
  margin: 100px auto 100px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.title {
  font-size: 40px;
  color: #5b3920;
  font-family: "Josefin Sans";
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.login-form input {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #c1b8b0;
  font-size: 18px;
}

.btn-login {
  padding: 12px;
  border: none;
  background: #413324;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
}
.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search {
    padding: 10px 35px 10px 12px; 
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 12px;
    font-size: 15px;
    color: #555;
    cursor: pointer;
}

.footer {
  width: 100%;
  background:linear-gradient(90deg, #e0ddd9 0%, #706457 100%);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.info {
  list-style-type: none;
  font-size: 16px; 
  min-width: 200px;
  margin-bottom: 20px;
}

.info h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #5b3920;
}

.info li {
  color: #333;
  margin-bottom: 5px;
}

.info i {
  color: #5b3920;
}

.anh {
  width: 40px; 
  height: 40px;
  margin-right: 10px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}


@media (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .logo {
    font-size: 70px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .menu a {
    font-size: 16px;
  }

  .search {
    width: 180px;
    height: 36px;
  }

  .login-wrap {
    margin-top: 240px;
  }

  .login-container {
    width: 90%;
    padding: 25px;
  }

  .title {
    font-size: 32px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .header {
    height: 150px;
    padding: 20px;
  }

  .logo {
    font-size: 90px;
  }

  .menu a {
    font-size: 18px;
  }

  .login-container {
    width: 70%;
  }

  .title {
    font-size: 35px;
  }

  .footer {
    justify-content: center;
    gap: 40px;
  }
}
