* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', serif;
  background: linear-gradient(120deg, #e0ddd9, #b8b6b4);
  width: 100%;
}
.header {
  width: 100%;
  height: 120px;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #e0ddd9, #706457);
}

.logo {
  font-size: 65px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #5b3920;
}
.logo span {
  color: #a4743f;
}

.menu {
  display: flex;
  align-items: center;
  gap: 28px;
}
.menu a {
  font-size: 16px;
  color: #000;
  transition: 0.25s;
  text-decoration: none;
}
.menu a:hover {
  color: #5b3920;
}
.search-box {
  position: relative;
}
.search {
  width: 220px;
  height: 40px;
  padding: 8px 35px 8px 12px;
  border-radius: 25px;
  border: 1px solid #aaa;
  outline: none;
  font-size: 16px;
}
.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #444;
  cursor: pointer;
}
.login-wrap {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.login-container {
  width: 430px;
  padding: 40px;
  border-radius: 18px;
  background: #d1cac3;
  box-shadow: 0 8px 25px rgba(0,0,0,0.18);
}

.title {
  font-size: 38px;
  font-family: "Josefin Sans";
  color: #5b3920;
  margin-bottom: 25px;
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-form label {
  font-size: 18px;
  color: #413324;
  font-weight: bold;
}

.login-form input {
  height: 48px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 2px solid #c1b8b0;
  font-size: 18px;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #5b3920;
  box-shadow: 0 0 4px rgba(91,57,32,0.4);
}

.btn-login {
  height: 50px;
  background: #413324;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.btn-login:hover {
  background: #5b3920;
}
.error {
  margin-top: -8px;
  margin-bottom: 8px;
  font-size: 15px;
  color: red;
}
.footer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  background: linear-gradient(90deg, #e0ddd9, #706457);
}

.info {
  list-style: none;
  min-width: 260px;
  font-size: 17px;
}

.anh {
  width: 40px;
  height: 40px;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .logo {
    font-size: 55px;
  }

  .menu {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search {
    width: 150px;
  }

  .login-wrap {
    margin-top: 180px;
  }

  .login-container {
    width: 92%;
    padding: 25px;
  }

  .title {
    font-size: 32px;
  }

  .footer {
    text-align: center;
    flex-direction: column;
  }
}
